@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{

    background:#0b1120;

    color:rgb(253, 250, 250);

    height:100vh;

    overflow:hidden;
}

p{

    line-height:1.7;

    margin:10px 0;

}

/* NAVBAR */

.navbar{

    width:100%;

    height:70px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 60px;

    background:rgba(15,23,42,0.8);

    border-bottom:1px solid rgba(255,255,255,0.08);

    -webkit-backdrop-filter:blur(20px);
    backdrop-filter:blur(20px);

    position:fixed;

    top:0;

    z-index:1000;
}

.logo{

    font-size:24px;

    font-weight:600;

    color:#38bdf8;
}

.navbar ul{

    display:flex;

    gap:35px;

    list-style:none;
}

.navbar li{

    cursor:pointer;

    color:#cbd5e1;

    transition:0.3s;
}

.navbar li:hover{

    color:#38bdf8;
}

/* MAIN */

.main-container{

    width:100%;

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding-top:70px;
}

/* CHAT */

.chat-container{

    width:850px;

    height:85vh;

    background:#111827;

    border:1px solid rgba(255,255,255,0.05);

    border-radius:25px;

    overflow:hidden;

    display:flex;

    flex-direction:column;

    box-shadow:
    0 0 40px rgba(0,0,0,0.5);
}

/* HEADER */

.chat-header{

    padding:25px;

    text-align:center;

    border-bottom:
    1px solid rgba(255,255,255,0.06);

    background:#0f172a;
}

.chat-header h1{

    font-size:32px;

    margin-bottom:5px;
}

.chat-header p{

    color:#94a3b8;
}

/* CHAT BOX */

#chat-box{

    flex:1;

    overflow-y:auto;

    padding:25px;

    display:flex;

    flex-direction:column;

    gap:15px;

    background:#111827;
}

/* MESSAGE */


.message{

    white-space: pre-wrap;

    line-height: 1.6;

    word-wrap: break-word;

}



.user-message{

    align-self:flex-end;

    background:#2563eb;

    color:white;

    padding:14px 18px;

    border-radius:18px 18px 4px 18px;

    max-width:75%;

    animation:fadeIn 0.3s ease;
}

.ai-message{

    align-self:flex-start;

    background:#1e293b;

    color:#e2e8f0;

    padding:14px 18px;

    border-radius:18px 18px 18px 4px;

    max-width:75%;

    animation:fadeIn 0.3s ease;
}

/* INPUT */

.input-area{

    display:flex;

    gap:12px;

    padding:20px;

    background:#0f172a;

    border-top:
    1px solid rgba(255,255,255,0.06);
}

input{

    flex:1;

    background:#1e293b;

    border:none;

    outline:none;

    padding:16px;

    border-radius:15px;

    color:white;

    font-size:15px;
}

input::placeholder{

    color:#94a3b8;
}

button{

    border:none;

    width:55px;

    border-radius:15px;

    cursor:pointer;

    font-size:20px;

    transition:0.3s;
}

.send-btn{

    background:#2563eb;

    color:white;
}

.send-btn:hover{

    background:#3b82f6;

    transform:scale(1.05);
}

.mic-btn{

    background:#06b6d4;

    color:white;
}

.mic-btn:hover{

    background:#0891b2;

    transform:scale(1.05);
}

/* SCROLLBAR */

#chat-box::-webkit-scrollbar{

    width:7px;
}

#chat-box::-webkit-scrollbar-thumb{

    background:#334155;

    border-radius:20px;
}

/* ANIMATION */

@keyframes fadeIn{

    from{

        opacity:0;

        transform:translateY(10px);
    }

    to{

        opacity:1;

        transform:translateY(0);
    }
}